.wp-block-acf-store-locator {
    padding-block: 16rem;
}

.wp-block-acf-store-locator-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    height: 800px;
}

.wp-block-acf-store-locator-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    overflow: hidden;
}

.wp-block-acf-store-locator-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #F7F9F2;
    border-radius: 15px;
    padding: 2rem;
}

.wp-block-acf-store-locator-card-title {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
}

.wp-block-acf-store-locator-search {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 28px;
}

.wp-block-acf-store-locator-search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.wp-block-acf-store-locator-search-input-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.wp-block-acf-store-locator-filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 15px;
    padding: 1rem 2rem;
}

.wp-block-acf-store-locator-filters-title {
    font-size: 1rem;
    font-weight: 400;
    color: #7A7A7D;
}

.wp-block-acf-store-locator-filters-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wp-block-acf-store-locator-filters-list-item {
    display: flex;
    gap: 1rem;
}

.wp-block-acf-store-locator-locations-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: auto;
}

.wp-block-acf-store-locator-locations-list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: white;
}

.wp-block-acf-store-locator-locations-list-item-title {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.wp-block-acf-store-locator-locations-list-item-postcode {
    color: #666;
    margin: 0 0 10px 0;
}

.wp-block-acf-store-locator-locations-list-item-description {
    font-size: 14px;
    color: #444;
}

.wp-block-acf-store-locator-map {
    height: 100%;
    border-radius: 0 8px 8px 0;
}

/* Scrollbar styling */
.wp-block-acf-store-locator-locations-list::-webkit-scrollbar {
    width: 6px;
}

.wp-block-acf-store-locator-locations-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.wp-block-acf-store-locator-locations-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.wp-block-acf-store-locator-locations-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}
